:root {
  --primary: #ff9800;
  --secondary: #1976d2;
}

body {
  overflow-x: hidden;
}

img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.tablet-width {
  max-width: 600px;
  margin: 0 auto;
}

.mobile-width {
  max-width: 425px;
  margin: 0 auto;
}

.poppins {
  font-family: poppins !important;
}

.raleway {
  font-family: raleway !important;
}

h1 {
  font-weight: 800 !important;
}

h1,
h2 {
  font-family: poppins;
}

h2 {
  font-weight: bolder !important;
}

h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}

p,
li {
  font-weight: 200;
  font-size: 0.7rem !important;
}

@media screen and (min-width: 1000px) {
  p,
  li {
    font-size: 0.9rem !important;
  }
}
