:root {
  --primary: #ff9800;
  --secondary: #1976d2;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tablet-width {
  max-width: 600px;
  margin: 0 auto;
}

.mobile-width {
  max-width: 425px;
  margin: 0 auto;
}

.poppins {
  font-family: poppins !important;
}

.raleway {
  font-family: raleway !important;
}